#menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: #fff;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease;
    z-index: 1000000;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

.open {
    display: block;

}

.close {
    display: none;
}




#open_menu {
    font-size: 1.9rem;
    color: #f5f5f5;
    cursor: pointer;
    align-self: flex-start;
}

#close_menu {
    font-size: 2.4rem !important;
    color: red;
    cursor: pointer;
    margin-bottom: 1.5rem;
    align-self: flex-end;
    padding: 0 10px;
}